*{
	margin: 0;
	padding: 0;
}
header{
	height:70px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}


nav {
	overflow: hidden;
	float: right;
}

nav li {
	float:left;
	list-style: none;
}

nav li a:hover {
	color: #FA8203;
}

nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 30px;
	color: #050608;
	text-shadow: 0 1px 0 white;
}

#logo a {
	margin-left: 20px;
	float: left;
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
	text-shadow: 0 1px 0 white;
	color: #6b6c6d;
}
.text__left {
    text-align: left;
}
section .Заголовок {
    font-size: 30px; 
}
section .Висотні {
    font-size: 50px;
    color: red; 
}
section .Промо {
    font-size: 19px;
    color: grey; 
}
.text__left {
    text-align: left;
	height:350px;
	margin: 120px 1px 1px 85px;
}
.promo {
    margin: 5px 1px 1px 85px;
}
