

*{
	margin: 0;
	padding: 0;
}
header{
	height:70px;
	margin: 1px 1px 1px 1px;
	padding: 20px 1px 1px 1px;
}

#logo a {
	margin-left: 25px;
    float: left;
	font-weight: bold;
	text-decoration: none;
	font-size: 26px;
	color: #6b6c6d;
}


nav {
	float: right;
}

nav li {
	float:left;
	list-style: none;
}

nav li a:hover {
	color: #FA8203;
}

nav li a {
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	padding: 0 20px;
	color: #050608;
}

.text__left {
    text-align: left;
}
section .high-altitude {
    font-size: 30px; 
}
section .in-lviv {
    font-size: 50px;
    font-weight: bold;
    color: red; 
}
section .prom {
    font-size: 19px;
    color: grey; 
}
.text__left {
    text-align: left;
	height:350px;
	margin: 120px 1px 1px 85px;
}

.promo {
    margin: 0px 0px 0px 85px;
    font-size: 24px;
    font-weight: bold;
}

.promo-2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: -31px 0px 0px -95px;
}
.page2 {
    font-size: 250%;
    text-align: center;
    color: rgb(61, 34, 4);
    text-decoration: underline;
    margin: 60px 0px 30px 0px;
}

footer {
text-align: center;
}